<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <p><%= config.codeNumber %></p>
    	</div>
        <span>
        <span id="busuanzi_container_site_uv">visitor <span id="busuanzi_value_site_uv"></span></span> | 
        <span id="busuanzi_container_site_pv">view <span id="busuanzi_value_site_pv"></span></span>
        </span>
        <div class="footer-right">
			    <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold" rel="external nofollow">Coding Pages</a></p>
      		<a href="http://hexo.io/" target="_blank" rel="external nofollow">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank" rel="external nofollow">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>